input{
  outline: none;
  padding: 10px 12px;
  border: 1px solid $input-border-color;
  border-radius: 2px;
  font-size: 15px;
  background-color: $input-bg;
}

input:focus{
  border-color: $input-border-color-focus;
}

input:disabled{
  background-color: $input-bg-disabled;
  cursor: no-drop;
}
